.vscode/
.idea/
.vs
node_modules/
package-lock.json
yarn.lock

asset/ssl
asset/bundle
asset/db
asset/temp
asset/upload/
asset/upload/*
asset/download/*
asset/host.json
asset/menu.txt
asset/hpo.edu.vn.conf
asset/tool/backup
asset/backup

backup/*

public/img/*
!public/img/flag
.DS_Store
.history
yarn-error.log
debug.log

*.DS_Store