.practicePoint {
    cursor: pointer;
    width: 100%;

    i {
        visibility: hidden;
    }

    &:hover {
        i {
            float: right;
            visibility: visible;
        }
    }
}