.dropdown-filter .dropdown-menu{
    transform: none !important;
    top:100% !important;
    left: unset !important;
    right: -.75rem !important;
  }
  
  .dropdown-filter .dropdown-toggle::after{
    display: none;
  }