doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title #{htmlWebpackPlugin.options.title}
        meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1, minimum-scale=1')
        meta(content=htmlWebpackPlugin.options.keywords.toString())
        meta(content=htmlWebpackPlugin.options.description name='description')
        //link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700', rel='stylesheet')
        link(rel='stylesheet' href='/home/plugins/material-button/icheck-material-custom.min.css')
        link(rel='stylesheet' href='/home/plugins/material-button/icheck-material.min.css')
        link(rel='stylesheet' type='text/css' href='/home/styles/bootstrap-4.1.2/bootstrap.min.css')
        link(rel='stylesheet' type='text/css' href='/home/plugins/font-awesome-4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet' type='text/css' href='/home/plugins/OwlCarousel2-2.2.1/owl.carousel.css')
        link(rel='stylesheet' type='text/css' href='/home/plugins/OwlCarousel2-2.2.1/owl.theme.default.css')
        link(rel='stylesheet' type='text/css' href='/home/plugins/OwlCarousel2-2.2.1/animate.css')
        link(rel='stylesheet' type='text/css' href='/home/plugins/jquery-datepicker/jquery-ui.css')
        link(rel='stylesheet' type='text/css' href='/home/styles/styles.css')
        link(rel='stylesheet' type='text/css' href='/home/styles/responsive.css')
    body
        div#app(class='super_container' style={position: 'relative', 'min-height': '100vh'})
        script(src='/home/js/jquery-3.2.1.min.js')
        script(src='/home/styles/bootstrap-4.1.2/popper.js')
        script(src='/home/styles/bootstrap-4.1.2/bootstrap.min.js')
        script(src='/home/plugins/greensock/TweenMax.min.js')
        script(src='/home/plugins/greensock/TimelineMax.min.js')
        script(src='/home/plugins/scrollmagic/ScrollMagic.min.js')
        script(src='/home/plugins/greensock/animation.gsap.min.js')
        script(src='/home/plugins/greensock/ScrollToPlugin.min.js')
        script(src='/home/plugins/OwlCarousel2-2.2.1/owl.carousel.js')
        script(src='/home/plugins/easing/easing.js')
        script(src='/home/plugins/parallax-js-master/parallax.min.js')
        script(src='/home/plugins/jquery-datepicker/jquery-ui.js')
        script(src='/js/plugins/bootstrap-notify.min.js')
        script(src='/home/js/classyNav.min.js')
        each item in htmlWebpackPlugin.files.js
            if item.search(/\/js\/home-?.*.js/) == 0
                script(type='text/javascript' src=item)
