/* ĐẾN VỚI HIỆP PHÁT */
:root{
    --color-logo:rgb(255,241,18);
    --color-primary:#199d76;
    --color-primary-hover:#4ca758;
    --color-white:#fff;
    --color-text-watch-more:rgb(204,176,175);
    --color-red:red;
    --color-background-image:rgb(178,222,209);
}

.section_den_voi_hp{
    padding:25px 0 50px 0;
}
.wrap_den_voi_HP {
    width: 100%;
    margin-top: 20px;
}
.section_den_voi_hp .strike1 {
    height: 4px;
    background-color: var(--color-primary);
    width: 250px;
}
.section_den_voi_hp .form_den_voi_hp {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 80px;
}

.section_den_voi_hp .form_title {
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    line-height: 65px;
    font-size: 24px;
    font-weight: 600;
    color: var(--color-primary);
}

/* .section_den_voi_hp .form_title h3{
    color:var(--color-primary);
    font-weight: 700;
    position: relative;
}

.section_den_voi_hp .form_title h3::after{
    content: '';
    display: block;
    width: 180px;
    height: 5px;
    background-color: var(--color-primary);
    position: absolute;
    left: 0;
    bottom:-16px;
} */

.wrap_den_voi_HP .wrap_item {
    background-color: var(--color-primary);
    border-radius: 10px;
    margin-bottom: 30px;
    height: 200px;
    transition: all .3s linear;
}
.wrap_den_voi_HP .wrap_item:hover {
    border: 1px solid var(--color-primary);
    background-color: aliceblue;
    margin-bottom: 30px;
}
.wrap_den_voi_HP .wrap_item .detail {
    background-color: var(--color-primary);
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    color: #fff;
    height: 100%;
    /* display: none; */
    visibility: hidden;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    border:1px solid var(--color-primary);

}

.wrap_den_voi_HP .wrap_item .detail .description {
    color: var(--color-primary);
    line-height: 20px;
    text-align: justify;
    padding: 0 8px;
}
.wrap_den_voi_HP .wrap_item .detail .hover_title_item {
    color: var(--color-primary);
    margin-top: 15px;
    font-weight: 700;
    text-align: center;
}

.wrap_den_voi_HP .wrap_item:hover .item {
    /* display: none; */
    visibility: hidden;
}
.wrap_den_voi_HP .wrap_item:hover .detail{
    display: block;
    background-color: aliceblue;
    /* animation: myfirst 2s 2;
    animation-duration: 0.4s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running; */
    visibility: visible;
    -ms-transform: scale(1.05);
    /* IE 9 */
    -webkit-transform: scale(1.05);
    /* Safari */
    transform: scale(1.05);
}
/* @keyframes myfirst {
    0% {background: aliceblue; left: 0px; top: 30px;}
    100% {background: aliceblue; left: 0px; top: 0px;}
} */

@keyframes myfirst {
    0% {background: aliceblue; transform:scale(1)}
    100% {background: aliceblue; transform: scale(1.1);}
}

.wrap_den_voi_HP .wrap_item:hover .detail .description {
    display: block;
}
.wrap_den_voi_HP .wrap_item:hover .detail .hover_title_item {
    display: block;
}

.wrap_den_voi_HP .wrap_item .icon_item_den_voi_HP {
    font-size: 100px;
    color: white;
    text-align: center;
}
.wrap_den_voi_HP .wrap_item .title_item_den_voi_HP {
    font-size: 20px;
    color: white;
    text-align: center;
}

@media (max-width: 1200px) {
    .wrap_den_voi_HP .wrap_item{
        height: 220px;
    }
    .wrap_den_voi_HP .wrap_item .detail .description {
        color: var(--color-primary);
        font-size: 14px;
        line-height: 15px;
        text-align: justify;
        padding: 0 8px;
    }
}

@media (max-width: 1024px) {
    .wrap_den_voi_HP .wrap_item .title_item_den_voi_HP {
        font-size: 16px;
        color: white;
        text-align: center;
    }
    .wrap_den_voi_HP .wrap_item .detail .description {
        color: var(--color-primary);
        font-size: 14px;
        line-height: 15px;
        text-align: justify;
        padding: 0 8px;
    }
    .wrap_den_voi_HP .wrap_item .detail .hover_title_item {
        color: var(--color-primary);
        margin-top: 15px;
        font-weight: 600;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .wrap_den_voi_HP .wrap_item .title_item_den_voi_HP {
        font-size: 15px;
        color: white;
        text-align: center;
    }
    .wrap_den_voi_HP .wrap_item .detail .description {
        color: var(--color-primary);
        font-size: 12px;
        line-height: 15px;
        text-align: justify;
        padding: 0 8px;
    }
    .wrap_den_voi_HP .wrap_item .detail .hover_title_item {
        color: var(--color-primary);
        margin-top: 15px;
        font-weight: 600;
        text-align: center;
    }
}

@media (max-width: 576px) {
    .wrap_den_voi_HP .wrap_item {
        margin-left: 0px;
        margin-right: 0px;
    }
}
@media (max-width: 767px) and (min-width: 576px){
    .wrap_den_voi_HP .wrap_item .detail .hover_title_item {
        font-size: 18px;
    }
}




/* GIỚI THIỆU HIỆP PHÁT */
.section-intro-hp {
    background-color: var(--color-primary);
    padding-top: 100px;
    padding-bottom: 180px;
    /* min-height: 100vh; */
}

.section-intro-hp .mobile .intro_carousel .owl-nav{
    top:50%;
    transform: translateY(-50%);
}

.section-intro-hp .mobile .intro_carousel_content{
    -webkit-box-flex:1;
    -ms-flex-positive:1;
    flex-grow:1;
    padding:16px 0;
    color:var(--color-white);
}

.section-intro-hp .mobile .intro_carousel_content p{
    color:var(--color-white);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
}

.section-intro-hp .mobile .intro_carousel_img{    
    width: 100%;
    overflow: hidden;
    position: relative;
    max-height: 400px;
}

.section-intro-hp .mobile .intro_carousel_img::after{    
    content: "";
    display: block;
    padding-bottom: 66.6666%;
}

.section-intro-hp .mobile .intro_carousel_img img{    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.section-intro-hp .mobile{
    display: none;
}

.warp_gioi_thieu_HP {
    padding-top: 15px;
}
.warp_gioi_thieu_HP .text-gioi-thieu {
    position: relative;
    transform: translateX(-100px);
    transition: 1s all ease;
    opacity: 0;
    min-height: 350px;
}
.warp_gioi_thieu_HP .text-gioi-thieu .description {
    position: relative;
    transform: translateX(-100px);
    transition: 1s all ease;
    opacity: 0;
}

.warp_gioi_thieu_HP .text-gioi-thieu .description.active_intro_desciption{
    transform: translateX(0);
    opacity: 1;
    z-index: 1;
}

.warp_gioi_thieu_HP .text-gioi-thieu.active_intro_text{
    transform: translateX(0);
    opacity: 1;
}
.warp_gioi_thieu_HP .img-gioi-thieu {
    position: relative;
    transform: translateX(100px);
    transition: 1s all ease;
    opacity: 0;
}
.warp_gioi_thieu_HP .img-gioi-thieu.active_intro_img{
    transform: translateX(0);
    opacity: 1;
}

.section-intro-hp .title_gioi_thieu {
    font-size: 20px;
    display: grid;
    /* background-color: white; */
    height: 75px;
    width: 315px;
    color: goldenrod;
    padding-top: 5px;
}   

.section-intro-hp .title_gioi_thieu h4 {
    font-weight: 800;
    color: var(--color-logo);
}
.warp_gioi_thieu_HP .description {
    margin-top: 20px;
    font-size: 17px;
    color: white;
    padding: 8px;
    text-align: justify;
}
.warp_gioi_thieu_HP .description span{
    font-style: italic;
    color: darkgray;
}
.warp_gioi_thieu_HP .description a{
    display: inline-block;
    font-style: italic;
    color: var(--color-logo);
    position: relative;
    transition: all .2s linear;
}

.warp_gioi_thieu_HP .description a::after{
    content:'';
    display: block;
    width: 100%;
    height: 2px;
    top:calc(100% + 5px);
    left:0;
    background-color:var(--color-logo);
    transition: all .2s linear;
    /* transform-origin: 100%; */
}

.warp_gioi_thieu_HP .description a:hover{
    font-weight: 700;
}

.warp_gioi_thieu_HP .description a:hover::after{
    transform: scaleX(0.5);
}
.social_gioi_thieu {
    border-bottom: 30px solid white;
    border-right: 20px solid transparent;
    border-left: 0px solid transparent;
    height: 0;
    width: 150px;
}

.social-menu {
	display: flex;
	list-style-type: none;
    padding-top: 5px;
    padding-left: 5px;
}
 
.social-menu i {
	color: #fff;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	font-size: 15px;
	margin-right: 10px;
	transition: all 0.2s ease-in-out;
	display: flex;
	justify-content: center;
}

.social-menu i:before {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.social-menu a {
	text-decoration: none;
}

.fa-facebook {
	background:#3b5998
} 

.fa-linkedin {
	background:#007bb6
}

.fa-twitter {
	background:#00aced
}

.fa-instagram {
	background:#3f729b
}

.fa-youtube {
	background:#c4302b
}

.social-menu i:hover {
	opacity: .7;
	border-radius: 0;
}

.img-intro1, .img-intro2, .img-intro3 {
    position: absolute;
    color: white;
    box-shadow: 5px 5px 20px rgba(0,0,0,.5);
    border: solid;
    line-height: 100px;
    text-align: center;
}
  
.img-intro1 {
    /* Chiều cao sẽ phải được thử lại trên nhiều thiết bị khác nhau */
    /* Đo trực tiếp trên website,với màn hình là 1920*1080 */
    width: 255px;
    height: 380px;
    /* width: 220px;
    height: 330px; */
    z-index: 1;
    top: -30px;
    right:330px;
    object-fit: cover;
}

.img-intro1.img-intro-zindex {
    z-index: 2;
    transform: scale(1.05);
    transition: 1s all ease;
}

.img-intro2.img-intro-zindex {
    z-index: 2;
    transform: scale(1.05);
    transition: 1s all ease;
}

.img-intro3.img-intro-zindex {
    z-index: 2;
    transform: scale(1.05);
    transition: 1s all ease;
}

.img-intro2 {
    border: solid;
    width: 405px;
    height: 275px;
    /* width: 360px;
    height: 245px; */
    top: 20px;
    right:15px;
}

.img-intro3 {
    border: solid;
    width: 390px;
    height: 250px;
    /* width: 350px;
    height: 225px; */
    top: 200px;
    right: 80px;
} 

@media (max-width: 1200px){
    .warp_gioi_thieu_HP .description {
        font-size: 15px;
    }

    .warp_gioi_thieu_HP .img-gioi-thieu .img-intro1{
        width: 210px;
        height: 315px;
    }
    
    .warp_gioi_thieu_HP .img-gioi-thieu .img-intro2{
        width: 330px;
        height: 220px;
    } 

    .warp_gioi_thieu_HP .img-gioi-thieu .img-intro3{
        width: 330px;
        height: 220px;
    } 
}

@media (max-width: 991px) {

    .section-intro-hp {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 100%;
    }

    .warp_gioi_thieu_HP {
        margin:0;   
    }

    .warp_gioi_thieu_HP .text-gioi-thieu{
        margin-bottom: 32px;
    } 

    .warp_gioi_thieu_HP .img-gioi-thieu{
        display: none;
    }
    
    .section-intro-hp .pc{
        display: none;
    }

    .section-intro-hp .mobile{
        display: block;
        padding-top: 48px;
    }
}

@media (max-width: 576px) {
    .section-intro-hp .mobile{
        padding-top: 0px;
    }
}


/* ĐỘI NGŨ GIẢNG VIÊN */

.section_staff{
    background-color: var(--color-primary);
}

#carouselLastNews .carousel-inner{
    height: 100%; 
}

#carouselLastNews .carousel-inner .carousel-item{
    /* height: 100%;  */
}
.container_staff {
    width: 100%;
    margin: auto;
    background-color: var(--color-primary);
}

.section_staff .mobile{
    display: none;
}

.wrapper_staff {
    width: 100%;
    height: 100%;
    display:flex;
    background: var(--color-primary);
}

.wrapper_staff .staff_info {
    padding-left: 70px;
    padding-right: 70px;
    margin-left: auto;
    display: block;
    /* height: 100%; */
    background: var(--color-primary);
    /* clip-path: polygon(0 0, 100% 0, 50% 100%, 0% 100%); */
    align-items: center;
    justify-content: flex-start;
    -webkit-box-flex:1;
    -ms-flex-positive:1;
    flex-grow:1;
}

.wrapper_staff .staff_info .staff_group_title {
    padding-top: 50px;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    width: 100%;
}

/* .pc .staff_info .staff_group_title h3{
    position: relative;
    display: inline-block;
}

.pc .staff_info .staff_group_title h3::after{
    content: '';
    display: block;
    width: 180px;
    height: 5px;
    background-color: var(--color-white);
    position: absolute;
    left: 0;
    bottom: -16px;
} */

.wrapper_staff .staff_info .strike1 {
    margin-top: 5px;
    width: 140px;
    height: 4px;
    background-color: var(--color-primary);
    margin-left: 90px;
}

.wrapper_staff .staff_info .strike2 {
    margin-top: 5px;
    width: 70px;
    height: 2px;
    background-color: var(--color-white);
}

.wrapper_staff .staff_info .staff_name {
    padding-top: 50px;
    color: var(--color-primary);
    font-size: 15px;
}

.wrapper_staff .staff_info .staff_name h4{
    color: white;
}

.wrapper_staff .staff_info .staff_group_title h3{
    color: white;
}

.wrapper_staff .staff_info .staff_title {
    margin-bottom: 15px;
    padding-top: 15px;
}

.wrapper_staff .staff_info .staff_title h5{
    color: yellow;
}

.wrapper_staff .staff_img {
    width: 60vw;
    overflow: hidden;
    position: relative;
}

.wrapper_staff .staff_img::after{
    content: "";
    display: block;
    padding-bottom: 600px;
}
.wrapper_staff .staff_img img{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.wrapper_staff .staff_info .text {
    color: white;
    margin-top: 50px;
    max-width: 400px;
}

.wrapper_staff .staff_info .text p{
    color: yellow;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;  
}

.wrapper_staff .staff_img .text {
    width:50%;
    padding-right: 10%;
}

.container_staff .mobile {
    display: none;
}
/* 
@media (max-width: 1200px){
    .wrapper_staff .staff_img {
        width: 35vw;
    }
} */


@media (max-width: 991px){
    .wrapper_staff .staff_img {
        width: 66vw;
    }

    .wrapper_staff .staff_info {
        padding-left: 15px;
    }

    .wrapper_staff .staff_info .text p{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        line-clamp: 4;
        -webkit-box-orient: vertical;
    }
}

@media (max-width: 767px){
    /* .container_staff .pc {
        display: none;
    } */

    .section_staff .pc{
        display: none;
    }
    
    .section_staff .mobile{
        display: block;
    }

    .container_staff {
        height: 100%;
    }

    .wrapper_staff {
        flex-direction: column;
    }

    .wrapper_staff .wrapper_staff_info{
        -webkit-box-flex:1;
        -ms-flex-positive:1;
        flex-grow:1;
    }

    .wrapper_staff .wrapper_staff_img{
        -webkit-box-flex:0;
        -ms-flex-positive:0;
        flex-grow:0;
        height: 400px;
    }

    .wrapper_staff .staff_info{
        width: 100%;
        padding:15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .wrapper_staff .staff_info .staff_name{
        padding-top: 16px;
    }

    

    .wrapper_staff .staff_img{
        width: 100%;
        padding-top:80%;
        overflow: hidden;
        position: relative;
    }

    .wrapper_staff .staff_img::after{
        display: none;
    }

    .wrapper_staff .staff_img img{
        object-fit: cover;
        object-position: top;
    }

    .wrapper_staff .staff_info .strike2 {
        margin-left: 0px;
    }

    .wrapper_staff .staff_info .text{
        margin-top: 16px;
        width: 100%;
        max-width: unset;
    }

    .container_staff .pc .wrapper_staff {
        flex-direction: column;
        transform: translateX(0);
    }
    .container_staff .container_staff {
        width: 100%;
        height: 450px;
        overflow: hidden;
        margin: auto;
    }

    .pc .staff_info{
        transform: translateX(0);
    }
    
    .mobile .wrapper_staff {
        width: 100%;
        height: 100%;
        display:block;
    }
    
    .mobile .staff_info {
        display: block;
        height: 100%;
        background: var(--color-primary);
        align-items: center;
        justify-content: flex-start;
    }
    
    .mobile .staff_info .staff_group_title {
        padding-left: 15px;
        padding-top: 20px;
        color: white;
        font-size: 20px;
        text-transform: uppercase;
    }
    
    .mobile .staff_info .strike1 {
        margin-top: 5px;
        width: 80px;
        height: 4px;
        background-color: white;
        margin-left: 15px;
    }
    
    .mobile .staff_info .strike2 {
        margin-top: 5px;
        width: 70px;
        height: 2px;
        background-color: var(--color-primary);
        margin-left: 90px;
    }
    
    .mobile .staff_info .staff_name {
        padding-left: 15px;
        padding-top: 15px;
        color: var(--color-primary);
    }
    
    .mobile .staff_info .staff_name h5{
        color: white;
        font-size: 18px;
    }
    
    .mobile .staff_info .staff_group_title h3{
        color: white;
        font-size: 15px;
    }
    
    .mobile .staff_info .staff_title {
        margin-bottom: 15px;
        padding-left: 15px;
    }
    
    .mobile .staff_info .staff_title h6{
        color: yellow;
    }
    
    .mobile .staff_img {
        height: 100%;
        background: teal;
        flex: 1 0 75%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .mobile .staff_img img{
        width: 100%;    
    }
    .mobile .staff_info .text {
        width: 100%;
        padding-left: 15px;
        color: white;
    }
    
    .mobile .staff_info .text p{
        color: yellow;  
    }
    
    .mobile .staff_img .text {
        width:50%;
        padding-right: 10%;
    }
    /* .mobile .team_col:not(:last-child) {
        margin-bottom: 0px;
    } */
    .mobile .team_col{
        margin-bottom: 0px !important;
    }
}



@media (max-width: 576px){
    .wrapper_staff .wrapper_staff_img{
        height: 300px;
    }
}


/* LOGIN */
.login_form{
    /* margin-top: 100px; */
    /* min-height: 100vh; */
}

.login_form .intro_form_login {
    background-color: white;
    width: 100%;
    min-height: 100vh;
    padding-left: 85px;
    padding-right: 85px;
    padding-bottom: 36px;
    padding-top: 120px;
}

.login_form .intro_form_login .login-mobile{
    display: none;
    margin-bottom: 32px;
}

.login_form .intro_form_login .login-mobile h2{
    color:red;
    font-weight: 900;
}

.login_form .intro_form_login .login-mobile h5{
    color:blue;
    font-size: 18px;
    font-weight: 600;
}

.login_form .intro_form_login .login-mobile p{
    color:var(--color-primary);
}

.login_form .strike {
    height: 2px;
    background-color: var(--color-primary);
    width: 150px;
    display: none;
    margin-bottom: 16px;
}

.login_form .intro_form_login .intro_col{
    height: 100%;
}



.login_form .intro_form_login .wrap_form{
    margin: 32px 0;
    box-shadow: 0 8px 32px rgb(0 0 0 / 40%);
}

.login_form .intro_form_login .wrap_form .wrap_content{
    padding:16px;
    background-color: var(--color-white);
}

.login_form .form_title{
    font-size: 22px;
    background: var(--color-primary);
    text-align: center;
    padding:16px;
}
.login_form .content{
    text-align: justify;
    color: var(--color-primary);
    line-height: 20px;
    margin-bottom: 0px;
}

.login_form .wrap-box{
    display: flex;
    color: white;
    height: 70px;
    width: 100%;
    margin: 0px;
    text-align: center;
}
.login_form .wrap-box .wrap_icon{
    padding-top: 5px;
    width: 60px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    background-color: var(--color-primary);
    box-shadow: 0px 0px 10px rgb(0 0 0 / 20%);
}

.login_form .wrap-box i{
    width: 40px;
    height: 40px;
    font-size: 40px;
    margin: auto;
    text-align: center;
    color: white;
}
.login_form .wrap-box input{
    margin-left: 10px;
    width: 100%;
    height: 45px;
    background: transparent;
    border: solid 2px var(--color-primary);
    border-radius: 25px;
    padding-left: 25px;
    outline: none;
    font-size: 15px;
    color: var(--color-primary);
    font-weight: 500;
}
.login_form .wrap-box input::placeholder {
    color: var(--color-primary);
    opacity: 1; /* Firefox */
}
.login_form .wrap_image {
    width: 80%;
    height: auto;
}

.login_form .wrap_image img{
    width: 100%;
    height: auto;
}

.login_form .wrap-submit-btn {
    width: 100%;
    text-align: center;
}
.login_form .wrap-submit-btn .login-form-button {
    background: var(--color-primary);
    width: 50%;
    font-size: 14px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
    border: solid 2px transparent;
    cursor: pointer;
    height: 35px;
    border-radius: 20px;
}

@media (max-width: 992px){

    .login_form .intro_form_login{
        background-image: none !important;
        height: unset;
        min-height: unset;
        padding-left:15px;
        padding-right: 15px;
    }
    .login_form .intro_form_login .login-mobile{
        display: block;
        background-color: var(--color-white);
    }
    .login_form .wrap_image{
        width: 100%;
        margin:0 auto;
        background-color: var(--color-background-image);
    }

    .login_form .intro_form_login .wrap_form{
        /* margin:32px 0; */
        display: none;
    }

    .login_form .strike {
        display: block;
    }
}

@media (max-width: 576px) {
    .login_form .intro_form_login{
        padding-left: 16px;
        padding-right: 16px;
        padding-top:80px;
    }

    .login_form .wrap_image{
        width: 100%;
        margin:0 auto;
    }

    .login_form .intro_form_login .login-mobile h5{
        font-size: 16px;
    }

    .login_form .strike {
        width: 100px;
    }
}
  /* HẠNG GPLX */
.section_hang_GPLX {
    position: relative;
    transform: translateY(100px);
    transition: 1s all ease;
    opacity: 0;
    height: 100%;
}

.section_hang_GPLX.active_gplx{
    transform: translateY(0);
    opacity: 1;
}

.section_hang_GPLX .intro_hang_GPLX{
    height: 100%;
}

.section_hang_GPLX .intro_hang_GPLX .intro_col{
    height: 100%;
}

.section_hang_GPLX .intro_hang_GPLX .wrap_GPLX {
    background-color: var(--color-white);
    width: 100%;
    padding:80px 32px 16px 32px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
    height: 100%;
}
.section_hang_GPLX .intro_hang_GPLX .wrap_GPLX .title_GPLX{
    position: absolute; 
    top: 0;
    left:0;
    padding:0 32px;
    height: 80px; 
    background: var(--color-primary); 
    line-height: 80px; 
    text-align: center; 
    font-size: 24px; 
    font-weight: 700; 
    color: #FFFFFF;
}
.section_hang_GPLX .intro_hang_GPLX .wrap_GPLX .wrap_item_GPLX{
    background-color: white; 
    border: 3px solid var(--color-primary); 
    margin: 10px 0;
    box-shadow: 3px 3px 5px rgba(0,0,0,.3);
}

.section_hang_GPLX .intro_hang_GPLX .wrap_GPLX .wrap_item_GPLX .img_item{
    position: relative;
}
.section_hang_GPLX .intro_hang_GPLX .wrap_GPLX .wrap_item_GPLX .img_item::after{
    content: '';
    display: block;
    width: 3px;
    height: calc(100% - 4px);
    background-color: var(--color-primary);
    position: absolute;
    top:2px;
    right:0;
}



.section_hang_GPLX .intro_hang_GPLX .wrap_GPLX .wrap_item_GPLX .img_item .title_img{
    font-weight: bold; 
    text-align: center; 
    padding-top: 15px; 
    color: var(--color-primary);
}
.section_hang_GPLX .intro_hang_GPLX .wrap_GPLX .wrap_item_GPLX .img_item .wrap_img{
    text-align: center;
}
.section_hang_GPLX .intro_hang_GPLX .wrap_GPLX .wrap_item_GPLX .img_item .wrap_img img{
    width: 80px;
}
.section_hang_GPLX .intro_hang_GPLX .wrap_GPLX .wrap_item_GPLX .content_item{
    margin: auto; 
    padding: 7px; 
    color: var(--color-primary);
}
.section_hang_GPLX .intro_hang_GPLX .wrap_GPLX .wrap_item_GPLX .content_item p{
    font-size: 12px; 
    margin: 0px; 
    line-height: 1.3; 
    color: var(--color-primary);
    padding-left: 15px;
    text-indent: -10px;
}
.section_hang_GPLX .intro_hang_GPLX .wrap_GPLX .wrap_item_GPLX .content_item p:first-line{
    text-indent: -36px;
}

@media (max-width: 991px){
    .section_hang_GPLX .intro_hang_GPLX .wrap_GPLX .title_GPLX{
        font-size: 26px; 
    }

    .intro_form_title{
        font-size: 26px;
    }
}

@media (max-width: 767px) {
    .section_hang_GPLX .intro_hang_GPLX .wrap_GPLX .wrap_item_GPLX .img_item{
        padding: 0;
        border: none; 
    }

    /* .section_hang_GPLX .intro_hang_GPLX .wrap_GPLX .wrap_item_GPLX .img_item::after{
        width: calc(100% - 4px);
        height: 3px;
        left:2px;
        top:100%;
    } */
}

@media (max-width: 576px) {

    .section_hang_GPLX .intro_hang_GPLX .wrap_GPLX{
        background-color: var(--color-primary);
        padding: 0;
        padding-top: 80px;
        box-shadow: none;
    }

    .section_hang_GPLX .intro_hang_GPLX .wrap_GPLX .wrap_item_GPLX{
        border:0;
        margin:24px 0;
    }

    .section_hang_GPLX .intro_hang_GPLX .wrap_GPLX .title_GPLX{
        padding: 0;
        text-align: left;
    }

    .section_hang_GPLX .intro_hang_GPLX .wrap_GPLX .title_GPLX::after{
        content: '';
        display: block;
        height: 3px;
        width: 100px;
        color: inherit;
        background-color: currentColor;
        position: absolute;
        bottom: 16px;
        left: 0;
    }

    .section_hang_GPLX .intro_hang_GPLX .wrap_GPLX .wrap_item_GPLX .img_item::after{
        display: none;

    }

    .section_hang_GPLX .intro_hang_GPLX .wrap_GPLX .wrap_item_GPLX .img_item .title_img{
        position: absolute;
        left:15px;
        padding-top: 5px;
        z-index: 1;
        font-size: 36px; 
        color: var(--color-primary);
    }

    .section_hang_GPLX .intro_hang_GPLX .wrap_GPLX .wrap_item_GPLX .img_item .wrap_img img{
        width: 60%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .section_hang_GPLX .intro_hang_GPLX .wrap_GPLX .wrap_item_GPLX .content_item p{
        font-size: 11px; 
    }
}
/* @media (max-width: 425px) {
    .section_hang_GPLX .intro_hang_GPLX .wrap_GPLX .title_GPLX {
        line-height: 65px; 
        font-size: 18px; 
        font-weight: 500; 
        color: #FFFFFF;
    }
    .section_hang_GPLX .intro_hang_GPLX .wrap_GPLX .wrap_item_GPLX .img_item .title_img {
        font-weight: bold;
        padding-top: 15px;
        color: var(--color-primary);
        font-size: 30px;
        padding-left: 15px;
        text-align: left;
    }
    .section_hang_GPLX .intro_hang_GPLX .wrap_GPLX .wrap_item_GPLX .img_item .wrap_img {
        margin-top: -50px;
    }
} */

/* FOOTER */
.footer {
    display: block;
    position: relative;
    background: #26292d;
}

.footer_content {
    background-color: var(--color-white);
}

.footer_content .mobile {
    display: none;
}


.footer_about {
    padding: 12px 0;
}

.footer_logo{
    
}

.footer .footer_content .col-md-4:last-child{
    padding-right:0;
}

.footer_image{
    width: calc(100% + 15px);
    height: 100%;
    object-fit: cover;
}

.footer_logo a>div:first-child {
    font-size: 30px;
    font-weight: 700;
    line-height: 0.75;
    color: #FFFFFF;
}

.footer_logo a>div:first-child span {
    color: #4ca758;
    margin-left: 7px;
}

.footer_logo a>div:last-child {
    font-size: 12px;
    color: #969696;
    font-weight: 500;
    line-height: 0.75;
    margin-top: 6px;
}

.footer_logo .footer_logo__title--small{
    display:inline-block;
    font-size:21px;
    font-weight: 500;
    color:#000
}

.footer_logo .footer_logo__title{
    color:var(--color-red);
    font-weight: 900;
    display: inline-block;
}

.footer_logo img{
    width: 150px;
    height: auto;
}

.footer_about_text {
    padding: 12px 0;
}

.footer_about_contact{
    font-weight: 500;
    color:var(--color-primary);
}

.footer_about_contact li{
    margin-bottom: 12px !important;
}

.footer_about_contact li:last-child{
    margin-bottom: 0px !important;
}

.footer_about_contact li a{
    color:var(--color-primary);
    transition: all .3s linear;
}

.footer_about_contact li a:hover{
    color:var(--color-primary-hover);
}

.footer_about_text p {
    color: #868686;
}

.footer_hotline li{
    margin-bottom: 12px;
    font-size: 18px;
}

.footer_hotline li:last-child{
    margin-bottom: 0;
}

.footer_hotline li .footer_hotline__icon{
    display: inline-block;
    height: 32px;
    width: 32px;
    margin-right: 8px;
    background-color: var(--color-red);
    position: relative;
}

.footer_hotline li .footer_hotline__icon i{
    color:var(--color-white);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.footer_hotline li a{
    color:#000;
    text-align: center;
    display: flex;
    align-items: center;
    font-weight: 400;
}

.app-button-wrap{
    display: flex;
    flex-wrap: wrap;
}

.app-button-wrap .app-button-item{
    background-color: #000;
    padding:8px 16px;
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    margin-right: 20px;
    margin-bottom: 12px;
}



.app-button-wrap .app-button-image{
    background-color: #000;
    height: 40px;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 5px;
    
}

.app-button-wrap .app-button-image img{
    width: 100%;
    
}

.app-button-wrap .app-button-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40px;
    min-width: 110px;
}

.app-button-wrap .app-button-content p{
    font-size: 12px;
    line-height: 12px;
    color: var(--color-white);
}

.app-button-wrap .app-button-content h5{
    line-height: 18px;
    margin-bottom: 0;    
    font-weight: 500;
    color: var(--color-white);
}

.footer_title {
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 1.2;
}

.footer_contact {
    padding-top: 40px;
}

.contact_list {
    margin-top: 44px;
}

.contact_list li {
    font-size: 15px;
    font-weight: 500;
    color: #878787;
}

.contact_list li:not(:last-child) {
    margin-bottom: 12px;
}

.footer_location {
    padding-top: 40px;
}

.locations_list {
    max-width: 180px;
    margin-top: 42px;
}

.locations_list li {
    line-height: 1.6;
}

.locations_list li:not(:last-child) {
    margin-bottom: 19px;
}

.location_title {
    font-size: 15px;
    font-weight: 500;
    color: var(--color-primary);
}

.location_text {
    margin-top: 13px;
}

.opening_hours {
    left: -32px;
    width: calc(100% + 67px);
    padding-left: 32px;
    padding-right: 35px;
    padding-top: 38px;
    padding-bottom: 40px;
    border: solid 2px #4d5157;
}

.opening_hours_list {
    margin-top: 44px;
}

.opening_hours_list li {
    white-space: nowrap;
}

.opening_hours_list li:not(:last-child) {
    margin-bottom: 9px;
}

.footer_bar {
    width: 100%;
    background: #181a1d;
}

.footer_bar_content {
    height: 49px;
}

.copyright {
    font-size: 12px;
    font-weight: 500;
    color: #646464;
}

.footer_nav ul li:not(:last-child) {
    margin-right: 29px;
}

.footer_nav ul li a {
    font-size: 12px;
    font-weight: 500;
    color: #818181;
}

.footer_nav ul li a:hover {
    color: #4ca758;
}

.footer .footer_content .footer_about .footer_logo .title1 {
    color: black;
    font-weight: bold;
    font-size: 30px;
} 
.footer .footer_content .footer_about .footer_logo .title2 {
    color: var(--color-red);
    font-weight: bold;
    font-size: 65px;
    margin-top: 20px;
}

@media (max-width: 991px){
    .footer .footer_about .app-button-wrap{
        display: none;
    }

    .footer_image{
        width: 100%;
    }
    .footer_bar {
        margin-bottom: 48px;
    }
}

@media (max-width: 768px){
    .app-button-wrap .app-button-content{
        min-width: 80px;
    }

    .footer .footer_content .footer_hotline{
        display: flex;
        flex-wrap: wrap;
    }

    .footer .footer_content .col-md-4:last-child{
        padding:0;
    }

    .footer .footer_content .footer_hotline li{
        -webkit-box-flex:1;
        -ms-flex-positive:1;
        flex-grow:1;
        margin-right: 8px;
    }

    .footer .footer_content .footer_hotline li a {
        font-size: 12px;
    }

    .footer_hotline li .footer_hotline__icon{
        height: 24px;
        width: 24px;
    }
}

@media (max-width: 576px){
    .footer_logo .footer_logo__title--small{
        font-size: 18px;
    }

    .app-button-wrap .app-button-item{
        margin-right: 12px;
        padding: 8px 8px;
    }

    .app-button-wrap .app-button-item .app-button-image{
        height: 30px;
        width: 30px;
    }

    .app-button-wrap .app-button-item .app-button-content{
        height: 30px;
    }

    .app-button-wrap .app-button-item .app-button-content p{
        font-size: 10px;
        line-height: 10px;
    }

    .app-button-wrap .app-button-item .app-button-content h5{
        font-size: 14px;
        line-height: 14px;
    }
}

@media (max-width: 768px) and (min-width: 426px) {
    .footer .footer_content .pc .footer_about .footer_logo .title1 {
        font-size: 23px;
    } 
    .footer .footer_content .pc .footer_about .footer_logo .title2 {
        font-size: 26px;
    } 
}
@media (max-width: 425px) {
    .footer .footer_content {
        padding: 0px;
    } 
    .footer_content .mobile {
        display: block;
    }
    .footer_content .pc {
        display: none;
    }
    .footer .footer_content .mobile .wrap_title {
        /* height: 70px; */
        padding-left: 15px;
        padding-top: 10px;
    }
    .footer .footer_content .mobile .wrap_title .title1 {
        color: var(--color-red);
        text-transform: uppercase;
        font-size: 30px;
        letter-spacing: -2px;
        font-weight: bold;
    }
    .footer .footer_content .mobile .wrap_title .title2 {
        margin-top: -10px;
        color: blue;
        font-weight: bold;
        margin-bottom: 0px;
    }
    .footer .footer_content .mobile .wrap_title .strike {   
        height: 3px;
        background-color: var(--color-primary);
        width: 100px;
    }
    .footer .footer_content .mobile .wrap_title .description {   
        color: var(--color-primary);
        padding-top: 10px;
    }
}

.text-main{
    color:var(--color-primary) !important;
}

.text-logo{
    color:var(--color-logo) !important;
}
/* ----------------------------link_watch_more--------------------------- */
.link_watch_more{
    display: inline-block;
    position: relative;
    transition: all .2s linear;
    border-bottom: none;
}

.link_watch_more:hover,.link_watch_more:active{
    font-weight: 700;
    background: none;
}

.link_watch_more::after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    top: calc(100% + 5px);
    left: 0;
    transition: all .2s linear;
    color:inherit;
    background-color: currentColor;
}

.link_watch_more:hover::after,
.link_watch_more:active::after{
    transform: scaleX(0.5);
}

.text-title{
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
}

.text-title::after{
    content: '';
    display: block;
    width: 180px;
    height: 5px;
    color:inherit;
    background-color: currentColor;
    position: absolute;
    left: 0;
    bottom: -16px;
    z-index: 2;
}

@media (max-width: 991px) {
    .text-title::after{
        width: 100px;
        height: 4px;
    }
}


/* ----------------------------carousel--------------------------- */

.carousel_equal_height .owl-stage{
    display: flex;
}

.carousel_equal_height .owl-item{
    height: auto !important;
}

.carousel_nav .owl-nav{
    padding:0 16px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
}

.carousel_nav .owl-nav .owl-prev,
.carousel_nav .owl-nav .owl-next{
    display: inline-flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--color-white);
    opacity: 0.5;
}

.carousel_nav .owl-nav .owl-prev i,
.carousel_nav .owl-nav .owl-next i{
    font-size: 24px;
    font-weight: 700;
    color: var(--color-primary);
}

/* ----------------------------Home Contact--------------------------- */
.home-contact{
    position: fixed;
    bottom: -1px;
    z-index: 3;
    max-height: 48px;
    box-shadow: 0px 0px 10px whitesmoke;
    display: none;
}

.home-contact-button{
    flex:1;
    display: flex;
    font-size: 14px;
    height: 100%;
    padding:12px 0;
    justify-content: center;
    align-items: center;
    color:var(--color-white);
    background-color: var(--color-primary);
}

.home-contact-button:hover{
    background-color: var(--color-primary-hover);
    color:var(--color-white);
}

.home-contact-button i{
    margin-right: 8px;
    font-size: 24px;
    position: relative;
}

.home-contact-button .zalo-icon::after{
    content:'Zalo';
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color:var(--color-primary);
    font-size: 10px;
    font-weight: 600;
}

@media (max-width: 991px) {
    .home-contact{
        display: block;
    }
}

@media (max-width: 767px) {
    .home-contact-button span{
        display: none;
    }
    .home-contact-button i{
        margin-right: 0;
    }
}
