/* ĐẾN VỚI HIỆP PHÁT */
.wrap_den_voi_HP {
    width: 100%;
}
.section_den_voi_hp .strike1 {
    height: 4px;
    background-color: #199d76;
    margin-left: 45px;
}
.section_den_voi_hp .form_title {
    position: absolute;
    top: 0;
    left: 0;
    width: 336px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: #199d76;
}

.wrap_den_voi_HP .wrap_item {
    background-color: #199d76;
    /* background-color: white; */
    border-radius: 20px;
    margin-bottom: 30px;
    height: 200px;
}
.wrap_den_voi_HP .wrap_item:hover {
    border: 1px solid #199d76;
    background-color: white;
    /* border: 1px solid white;
    background-color: #199d76; */
    margin-bottom: 30px;
    height: 200px;
}
.wrap_den_voi_HP .wrap_item .detail {
    background: #199d76;
    position: absolute;
    bottom: 0;
    border-radius: 20px;
    color: #fff;
    display: none;
    height: 100%;
}
.wrap_den_voi_HP .wrap_item .detail .description {
    color: #199d76;
    /* color: white; */
    font-size: 15px;
    line-height: 20px;
    text-align: justify;
    padding: 0 8px;
    /* display: none; */
}
.wrap_den_voi_HP .wrap_item .detail .hover_title_item {
    color: #199d76;
    /* color: white; */
    margin-top: 15px;
    font-weight: 700;
    text-align: center;
    /* display: none; */
}

.wrap_den_voi_HP .wrap_item:hover .item {
    display: none;
}
.wrap_den_voi_HP .wrap_item:hover .detail {
    display: block;
    background-color: white;
    /* background-color: #199d76; */
    animation-duration: 0.4s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    /* animation-name: showDetail; */
}

.wrap_den_voi_HP .wrap_item:hover .detail .description {
    display: block;
}
.wrap_den_voi_HP .wrap_item:hover .detail .hover_title_item {
    display: block;
}

.wrap_den_voi_HP .wrap_item .icon_item_den_voi_HP {
    font-size: 100px;
    color: white;
    /* color: #199d76; */
    text-align: center;
}
.wrap_den_voi_HP .wrap_item .title_item_den_voi_HP {
    font-size: 20px;
    color: white;
    /* color: #199d76; */
    text-align: center;
}

/* GIỚI THIỆU HIỆP PHÁT */
.warp_gioi_thieu_HP .title_gioi_thieu {
    font-size: 20px;
    padding-left: 10px;
    display: grid;
    background-color: white;
    height: 75px;
    width: 315px;
    color: goldenrod;
    padding-top: 5px;
}   
@media (max-width: 768px) {
    .warp_gioi_thieu_HP .img-gioi-thieu{
        display: none;
    } 
}
.warp_gioi_thieu_HP .title_gioi_thieu span {
    font-weight: 800;
    color: #199d76;
}
.warp_gioi_thieu_HP .description {
    margin-top: 20px;
    font-size: 17px;
    color: white;
    padding: 8px;
    text-align: justify;
}
.warp_gioi_thieu_HP .description span{
    font-style: italic;
    color: darkgray;
}
.warp_gioi_thieu_HP .description a{
    font-style: italic;
    color: black;
}
.social_gioi_thieu {
    border-bottom: 30px solid white;
    border-right: 20px solid transparent;
    border-left: 0px solid transparent;
    height: 0;
    width: 150px;
}

.social-menu {
	display: flex;
	list-style-type: none;
    padding-top: 5px;
    padding-left: 5px;
}
 
.social-menu i {
	color: #fff;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	font-size: 15px;
	margin-right: 10px;
	transition: all 0.2s ease-in-out;
	display: flex;
	justify-content: center;
}

.social-menu i:before {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.social-menu a {
	text-decoration: none;
}

.fa-facebook {
	background:#3b5998
} 

.fa-linkedin {
	background:#007bb6
}

.fa-twitter {
	background:#00aced
}

.fa-instagram {
	background:#3f729b
}

.fa-youtube {
	background:#c4302b
}

.social-menu i:hover {
	opacity: .7;
	border-radius: 0;
}


.img-intro1, .img-intro2, .img-intro3 {
    position: absolute;
    color: white;
    line-height: 100px;
    text-align: center;
}
  
.img-intro1 {
    width: 249px;
    height: 202px;
    z-index: 1;
    top: 0px;
    left: 10px;
}

.img-intro2 {
    width: 293px;
    height: 204px;
    top: 11px;
    left: 242px;
}

.img-intro3 {
    width: 300px;
    height: 250px;
    top: 80px;
    left: 100px;
}  
.container_staff {
    width: 100%;
    height: 450px;
    overflow: hidden;
    margin: auto;
}

.wrapper_staff {
    width: 100%;
    height: 100%;
    display:flex;
    background: #ccc;
    transform: translateX(-25%);
}

.staff_info {
    display: block;
    height: 100%;
    background: #199d76;
    /* clip-path: polygon(0 0, 100% 0, 50% 100%, 0% 100%); */
    flex: 1 0 75%;
    transform: translateX(30%);
    align-items: center;
    justify-content: flex-start;
}

.staff_info .staff_group_title {
    padding-left: 90px;
    padding-top: 50px;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
}

.staff_info .strike1 {
    margin-top: 5px;
    width: 140px;
    height: 4px;
    background-color: #199d76;
    margin-left: 90px;
}

.staff_info .strike2 {
    margin-top: 5px;
    width: 70px;
    height: 2px;
    background-color: #199d76;
    margin-left: 90px;
}

.staff_info .staff_name {
    padding-left: 90px;
    padding-top: 50px;
    color: #199d76;
    font-size: 15px;
}

.staff_info .staff_name h5{
    color: white;
    font-size: 25px;
}

.staff_info .staff_group_title h3{
    color: white;
}

.staff_info .staff_title {
    margin-bottom: 15px;
    padding-left: 90px;
    padding-top: 15px;
}

.staff_info .staff_title h6{
    color: yellow;
}

.staff_img {
    height: 100%;
    background: teal;
    clip-path: polygon(25% 0, 100% 0, 95% 100%, 15% 100%);
    flex: 1 0 75%;
    transform: translateX(-15%);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.staff_img img{
    width: 100%;    
}
.staff_info .text {
    width:65%;
    padding-left: 90px;
    color: white;
    margin-top: 50px;
}

.staff_info .text p{
    color: yellow;  
}

.staff_img .text {
    width:50%;
    padding-right: 10%;
}
.login_form .intro_form_login {
    background-color: white;
    width: 100%;
    padding-left: 33px;
    padding-right: 34px;
    padding-bottom: 36px;
    padding-top: 80px;
}
.login_form .intro_form_login .wrap_form{
    padding: 30px;
    background: white;
}

.login_form .form_title{
    font-size: 22px;
    color: white;
    background: #199d76;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 20%);
}
.login_form .content{
    margin-bottom: 15px;
    margin-top: 10px;
    text-align: justify;
    color: #199d76;
    line-height: 20px;
}
.login_form .wrap-box{
    display: flex;
    color: white;
    height: 70px;
    width: 100%;
    padding: 0px 8px;
    margin: 0px;
    text-align: center;
}
.login_form .wrap-box .wrap_icon{
    padding-top: 5px;
    width: 60px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    background-color: #199d76;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 20%);
}

.login_form .wrap-box i{
    width: 40px;
    height: 40px;
    font-size: 40px;
    margin: auto;
    text-align: center;
    color: white;
}
.login_form .wrap-box input{
    margin-left: 10px;
    width: 100%;
    height: 45px;
    background: transparent;
    border: solid 2px #199d76;
    border-radius: 25px;
    padding-left: 25px;
    outline: none;
    font-size: 15px;
    color: #199d76;
    font-weight: 500;
}
.login_form .wrap-box input::placeholder {
    color: #199d76;
    opacity: 1; /* Firefox */
}
.login_form .wrap_image {
    left: -30px;
    width: 120%;
  }
.login_form .wrap-submit-btn {
    width: 100%;
    text-align: center;
}
.login_form .wrap-submit-btn .login-form-button {
    background: #199d76;
    width: 50%;
    font-size: 14px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
    border: solid 2px transparent;
    cursor: pointer;
    height: 35px;
    border-radius: 20px;
}
  /* HẠNG GPLX */
/* .section_hang_GPLX {
    background-color: aliceblue;
} */
.section_hang_GPLX .intro_hang_GPLX .wrap_GPLX {
    background-color: #199d76;
    margin-bottom: 28px;
    width: 100%;
    padding-left: 33px;
    padding-right: 34px;
    padding-bottom: 15px;
    padding-top: 85px;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 20%);
}
.section_hang_GPLX .intro_hang_GPLX .wrap_GPLX .title_GPLX{
    position: absolute; 
    top: 0; height: 80px; 
    background: #199d76; 
    line-height: 80px; 
    text-align: center; 
    font-size: 24px; 
    font-weight: 600; 
    color: #FFFFFF;
}
.section_hang_GPLX .intro_hang_GPLX .wrap_GPLX .wrap_item_GPLX{
    background-color: white; 
    border: 1px solid #199d76; 
    margin: 5px 0;
}
.section_hang_GPLX .intro_hang_GPLX .wrap_GPLX .wrap_item_GPLX .img_item{
    padding: 0;
    border-right: 3px solid #199d76 
}
.section_hang_GPLX .intro_hang_GPLX .wrap_GPLX .wrap_item_GPLX .img_item .title_img{
    font-weight: bold; 
    text-align: center; 
    padding-top: 15px; 
    color: #199d76;
}
.section_hang_GPLX .intro_hang_GPLX .wrap_GPLX .wrap_item_GPLX .img_item .wrap_img{
    text-align: center;
}
.section_hang_GPLX .intro_hang_GPLX .wrap_GPLX .wrap_item_GPLX .img_item .wrap_img img{
    width: 80px;
}
.section_hang_GPLX .intro_hang_GPLX .wrap_GPLX .wrap_item_GPLX .content_item{
    margin: auto; 
    padding: 7px; 
    color: #199d76;
}
.section_hang_GPLX .intro_hang_GPLX .wrap_GPLX .wrap_item_GPLX .content_item p{
    font-size: 12px; 
    margin: 0px; 
    line-height: 1.3; 
    color: #199d76;
    padding-left: 15px;
    text-indent: -10px;
}
.section_hang_GPLX .intro_hang_GPLX .wrap_GPLX .wrap_item_GPLX .content_item p:first-line{
    text-indent: -36px;
}

